// Bootstrap variables overwrites START
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1625px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1624px
);

$font-family-base:'RubrikEdgeNew-Regular';
$font-family-base-italic:'RubrikEdgeNew-RegularItalic';
$font-family-bold:'RubrikEdgeNew-Bold';
$font-family-bold-italic:'RubrikEdgeNew-BoldItalic';
$font-family-extrabold:'RubrikEdgeNew-Extrabold';
$font-family-light:'RubrikEdgeNew-Light';
$font-family-medium:'RubrikEdgeNew-Medium';
$font-family-bebas-regular:'BebasNeue-Regular';
$link-color: #003e66;
$body-bg: #fafbfb;
// Bootstrap variables overwrites END

// Colors and backgrounds
$blue-main: #273266;
$blue-menu: #1c2856;
$blue-normal: #1a244b;
$blue-medium: #121324;
$blue-medium-2: #131529;
$blue-medium-3: #1d3467;
$blue-light: #5273b7;
$blue-fb: #4868ae;
$blue-bonus: #1d66af;
$blue-violet: #203d74;

$grey-white: #f9fafa;
$grey-extralight: #d5d5d4;
$grey-extralight-2: #a1a1a1;
$grey-extralight-3: #e9e8e8;
$grey-extralight-4: #e2e2e1;
$grey-extralight-5: #edebeb;
$grey-extralight-6: #EFEEEE;
$grey-light: #cfcfce;
$grey-light-2: #ccc;
$grey-medium: #a1a1a1;
$grey-medium-2: #ababab;
$grey-medium-3: #d2d2d2;
$grey-dark: #2d2c2c;
$grey-dark-2: #333232;
$grey-dark-3: #222;
$grey-hover: #b5b5b5;

$yellow: #f8b613;

$red: #cd1c39;
$red-hover: #e12e4b;
$red-ytb: #cc2223;

$purple: #784d98;

$green-discount: #53ab56;