.cards-grid {
    margin-top: rem(30px);
    display: flex;
    flex-wrap: wrap;
    gap: rem(30px);
}

.card-info {
    width: rem(220px);
    background-color: #fff;
    border-radius: rem(7px);
    box-shadow: 0 rem(1px) rem(3px) rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: left;
    border: rem(1px) solid rgba(150, 150, 150, .5);
    display: flex;
    flex-direction: column;

    &-header {
        padding: rem(15px) rem(15px) rem(20px);
        color: $grey-dark-2;
    }

    &-title {
        color: $blue-main;
        font-size: rem(21px);
        font-family: $font-family-extrabold;
        margin-bottom: rem(5px);

        a {
            color: $blue-main;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-subtitle {
        color: $blue-main;
        font-size: rem(14px);
        font-family: $font-family-medium;
        margin-bottom: rem(5px);
        margin-top: rem(-7px);
    }

    &-description {
        line-height: 1.3;
        margin-bottom: rem(10px);
    }

    &-additional {
        font-size: rem(16px);
        font-family: $font-family-bold;
        margin-bottom: 0;
    }

    &-icon {
        fill: $blue-main;
        display: block;
        margin-left: rem(20px);

        &:first-child {
            margin-left: 0;
        }

        &-live {
            width: rem(27px);
            height: rem(27px);
        }

        &-accredited {
            width: rem(23px);
            height: rem(27px);
        }

        &-accommodation {
            width: rem(27px);
            height: rem(28px);
        }
    }

    &-bottom {
        margin-top: auto;
        display: flex;

        &-half {
            width: 50%;
            display: flex;
            flex-direction: column;

            &-title {
                font-size: rem(12px);
                font-family: $font-family-extrabold;
                display: block;
                text-transform: uppercase;
                line-height: 1;
            }

            &-subtitle {
                font-size: rem(12px);
                display: block;
            }

            &-tag {
                font-size: rem(12px);
                font-family: $font-family-bold;
                color: #fff;
                background-color: $yellow;
                padding: rem(5px) rem(5px) rem(3px) rem(8px);
                line-height: 1;

                 span {
                    font-family: $font-family-base;
                 }
            }

            &-left {
                background-color: #f9fafa;
                padding: rem(5px) rem(5px) rem(10px) rem(15px);
                color: $blue-main;
            }

            &-right {
                background-color: $grey-extralight-5;
            }
        }

        &-right-price {
            padding: rem(3px) rem(5px) rem(7px) rem(8px);
            color: $grey-dark-2;
        }

        &-right-info {
            display: block;
            font-size: rem(10px);
        }

        &-amount {
            font-size: rem(18px);
            font-family: $font-family-bold;
            margin: 0;
            line-height: 1;
        }

        &-acc-details {
            font-family: $font-family-bold;
            font-size: rem(10px);
            border-bottom: rem(1px) solid $grey-dark-2;
            padding-bottom: rem(2px);
            margin-bottom: rem(7px);
            display: block;
            max-width: 90%;
            color: $grey-dark-2;
        }

        &-acc-title {
            font-family: $font-family-bold;
            font-size: rem(10px);
            text-transform: uppercase;
            display: block;
            color: $blue-main;
            line-height: 1.2;
        }
    }

    &-bonus .card-info-bottom-half-tag {
        background-color: $blue-bonus;
    }

    &-discount .card-info-bottom-half-tag {
        background-color: $green-discount;
    }

    &-promo .card-info-bottom-half-tag {
        background-color: $red;
    }

    &-image {
        border-radius: rem(10px);
        border: none;

        .card-info-description {
            font-size: rem(14px);
        }
    }
}

.card-bottom-top {
    padding-bottom: rem(7px);
}

.card-bottom-down {
    margin-top: auto;
    display: flex;
}

.card-info-slider {
    margin-left: rem(30px);

    .swiper-slide {
        width: rem(220px);
    }
}

@media (max-width: rem(1493px)) {
    .container-medium-large .cards-grid {
        justify-content: center;
    }
}

@media (max-width: rem(1665px)) {
    .container-large-custom .cards-grid {
        justify-content: center;
    }
}

@include media-breakpoint-down(xl) {
    .cards-grid {
        gap: rem(15px);
    }

    .card-info-slider {
        margin-left: 0;

        .swiper-wrapper {
            transform: translateX(0) !important;
            flex-wrap: wrap;
            gap: rem(15px);
            justify-content: center;
            padding-left: rem(12px);
            padding-right: rem(12px);
            box-sizing: border-box;
        }

        .swiper-slide {
            margin-right: 0 !important;
        }
    }
}

@media (max-width: rem(480px)) {
    .card-info:not(.card-info-image) {
        min-height: 260px;
    }
}