.card-banner-component {
    padding-top: 15px;
}

.card-banner {
    border-radius: 20px;
    overflow: hidden;
    width: 248px;
    display: block;

    @include media-breakpoint-up(md) {
        width: 310px;
    }

    @include media-breakpoint-up(xl) {
        width: 388px;
    }

    @media (max-width: 520px) {
        width: 310px;
    }

    &-image {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}