.courses-slider-wrapper {
    position: relative;
    margin-top: 20px;

    &::before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: $blue-main;
        top: 50%;
        position: absolute;
        left: 0;
    }
}

.courses-slider-inner {
    max-width: 600px;
    margin: 0 auto;
    background-color: $grey-extralight-2;
    border-radius: 7px;

    .btn {
        width: 100%;
        border-radius: 0;
        font-size: rem(16px);
        padding-top: 14px;
        padding-bottom: 10px;
    }

    .current-active .btn {
        background-color: $blue-main !important;
    }
}

.courses-slider-nav {
    position: absolute;
    top: 50%;
    max-width: 685px;
    left: 0;
    right: 0;
    margin: -20px auto;

    .swiper-button-prev, .swiper-button-next {
        background-size: 20px 33px;
        background-position: center;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
        margin-top: 0;

        &.swiper-button-disabled {
            opacity: 1;
        }

        &::after {
            display: none;
        }
    }

    .swiper-button-prev {
        left: 0;
        background-image: url('../images/arrow-border-left.svg');
    }

    .swiper-button-next {
        right: 0;
        background-image: url('../images/arrow-border-right.svg');
    }
}

@include media-breakpoint-down(md) {
    .courses-slider-inner {
        max-width: 300px;

        .btn {
            font-size: rem(12px);
            padding-top: 15px;
            padding-bottom: 13px;
        }
    }

    .courses-slider-nav {
        max-width: 385px;
    }
}

@media (max-width: 450px) {
    .courses-slider-nav {
        max-width: 95%;

        .swiper-button-prev, .swiper-button-next {
            width: 20px !important;
            background-size: 20px 34px !important;
        }
    }
}

@media (max-width: 400px) {
    .courses-slider-nav {
        max-width: none;
    }
}

@media (max-width: 370px) {
    .courses-slider-nav .swiper-button-prev {
        left: -5px;
    }

    .courses-slider-nav .swiper-button-next {
        right: -5px;
    }
}