.courses-slider-wrapper {
    position: relative;
    margin-top: rem(20px);

    &::before {
        content: "";
        width: 100%;
        height: 1px;
        height: rem(1px);
        background-color: $blue-main;
        top: 50%;
        position: absolute;
        left: 0;
    }
}

.courses-slider-inner {
    max-width: rem(600px);
    margin: 0 auto;
    background-color: $grey-extralight-2;
    border-radius: rem(7px);

    .btn {
        width: 100%;
        border-radius: 0;
        font-size: rem(16px);
        padding-top: rem(13px);
        padding-bottom: rem(11px);
    }

    .current-active .btn {
        background-color: $blue-main !important;
    }
}

.courses-slider-nav {
    position: absolute;
    top: 50%;
    max-width: rem(685px);
    left: 0;
    right: 0;
    margin: rem(-20px) auto;

    .swiper-button-prev, .swiper-button-next {
        background-size: rem(20px) rem(33px);
        background-position: center;
        background-repeat: no-repeat;
        height: rem(40px);
        width: rem(40px);
        margin-top: 0;

        &.swiper-button-disabled {
            opacity: 1;
        }

        &::after {
            display: none;
        }
    }

    .swiper-button-prev {
        left: 0;
        background-image: url('../images/arrow-border-left.svg');
    }

    .swiper-button-next {
        right: 0;
        background-image: url('../images/arrow-border-right.svg');
    }
}

@include media-breakpoint-down(md) {
    .courses-slider-inner {
        max-width: rem(300px);

        .btn {
            font-size: rem(12px);
            padding-top: rem(15px);
            padding-bottom: rem(13px);
        }
    }

    .courses-slider-nav {
        max-width: rem(385px);
    }
}

@media (max-width: rem(450px)) {
    .courses-slider-nav {
        max-width: 95%;

        .swiper-button-prev, .swiper-button-next {
            width: rem(20px) !important;
            background-size: rem(20px) rem(34px) !important;
        }
    }
}

@media (max-width: rem(400px)) {
    .courses-slider-nav {
        max-width: none;
    }
}

@media (max-width: rem(370px)) {
    .courses-slider-nav .swiper-button-prev {
        left: rem(-5px);
    }

    .courses-slider-nav .swiper-button-next {
        right: rem(-5px);
    }
}

@include media-breakpoint-up(md) {
    .firefox .courses-slider-inner .btn {
        padding-top: rem(12px);
        padding-bottom: rem(12px);
    }
}