.hero-contain {
    position: relative;
    height: 350px;
}

.hero-multiuse {
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    margin-top: -15px;

    &-image, &-video {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        //object-position: left top; // For Pul: If the images uploaded are not resized beforehand (i hope not) uncomment this line and see if they show up better.
    }

    &-search {
        position: absolute;
        bottom: 30px;
        width: 100%;

        .search-back-btn {
            display: none;
        }

        .search-title {
            color: #fff;
        }
    }

    .slider-general.tns-slider {
        display: block;
    }
}

@include media-breakpoint-down(xl) {
    .hero-contain {
        height: 300px;
    }
}

@media (max-width: 899px) {
    .hero-contain {
        height: 180px;
    }

    .search-general-active {
        .hero-contain {
            position: static;
        }

        .hero-multiuse-search {
            position: static;
            bottom: auto;

            .search-back-btn {
                display: block;
                width: 55px;
                height: 55px;
                border-radius: 50%;
                background-color: $grey-extralight-2;

                &-icon {
                    width: 15px;
                    height: 30px;
                }
            }
        }

        .search-trigger-mobile {
            display: none;
        }
    }
}