.hotels-grid {
    display: flex;
}

.thumbs-slider {

    &-big {
        width: 625px;
        height: 435px;
    }

    &-small {
        width: 625px;
        height: 135px;

        .swiper-slide {
            opacity: 0.4;
        }

        .swiper-slide-thumb-active {
            opacity: 1;
        }
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}