.huge-heading-wrapper {
    position: relative;
    text-align: center;
}

.huge-heading {
    font-size: rem(400px);
    font-family: $font-family-bebas-regular;
    color: rgba(171, 171, 171, .3);
    line-height: 0.8;
    margin: 0;

    &-opacity {
        color: rgba(171, 171, 171, .15);
    }

    &-small {
        @media (min-width: rem(1281px)) {
            font-size: rem(300px);
        }
        
        line-height: 0.7;
    }
}

.huge-heading-overlap {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -10px;

    &-offset {
        top: rem(80px);
        margin-top: 0;
    }

    .ribbon {
        margin-bottom: rem(25px);
    }
}

.h-heading-title-small {
    font-size: rem(21px);
    font-family: $font-family-bold;
    margin: 0;
}

.h-heading-subtitle {
    margin: 0;
}



@media (max-width: rem(1280px)) {
    .huge-heading {
        font-size: rem(250px);
    }

    .huge-heading-overlap-offset {
        top: rem(-28px);
    }
}

@include media-breakpoint-down(xl) {
    .huge-heading-opacity {
        color: rgba(171, 171, 171, .25);
    }
}

@include media-breakpoint-down(lg) {
    .huge-heading {
        font-size: rem(150px);
    }

    .huge-heading-overlap-offset {
        top: rem(-85px);
    }

    .huge-heading-overlap-lg {
        position: static;
        padding-bottom: rem(30px);
    }
}

@media (max-width: rem(640px)) {
    .huge-heading {
        font-size: rem(120px);
    }

    .huge-heading-small {
        font-size: rem(100px);
    }

    .huge-heading-overlap-offset {
        top: rem(-100px);
    }
}