.medallion {
    text-align: center;
    margin-bottom: 0;

    &-image {
        width: rem(200px);
        height: rem(200px);
        border-radius: 50%;
    }

    &-title {
        font-family: $font-family-bebas-regular;
        font-size: rem(21px);
        font-weight: normal;
        position: relative;
        margin: rem(10px) auto 0;
        max-width: rem(180px);

        &::after {
            content: "";
            width: 10px;
            height: 2px;
            width: rem(10px);
            height: rem(2px);
            background-color: $grey-dark-2;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
        }

        span {
            display: block;
            position: relative;
            padding-bottom: 5px;

            &::after, &::before {
                content: "";
                width: 10px;
                height: 2px;
                width: rem(10px);
                height: rem(2px);
                background-color: $grey-dark-2;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0 auto;
            }

            &::after {
                transform: translateX(12px);
            }

            &::before {
                transform: translateX(-12px);
            }
        }
    }

    &-caption {
        font-size: rem(12px);
        margin: rem(10px) auto 0;
        max-width: rem(180px);
    }

    
}

.course-authors {
    display: flex;
    justify-content: space-between;
    flex: 1;
    position: relative;

    .medallion {
        max-width: rem(250px);
    
        &-image {
            width: rem(160px);
            height: rem(160px);
        }
    
        .medallion-title {
            max-width: none;
        }
    
        .medallion-title {
            margin-top: rem(25px);
            font-size: rem(20px);
            font-family: $font-family-extrabold;
            color: $blue-violet;
            padding-bottom: rem(15px);
    
            &::after {
                width: 40%;
                height: 1px;
                height: rem(1px);
            }
    
            span {
                padding-bottom: 0;
                font-size: rem(18px);
    
                &::after, &::before {
                    display: none;
                }
            }
        }
    
        .medallion-caption {
            font-size: rem(18px);
            max-width: rem(240px);
            line-height: 1.4;
        }
    }

    .ribbon {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: rem(75px);
        height: rem(75px);
        top: rem(43px);

        .ribbon-icon-book {
            width: rem(40px);
            height: rem(30px);
        }

        &:after {
            width: rem(44px);
            height: rem(44px);
            margin-top: rem(-22px);
            right: rem(-32px);
        }

        &::before {
            width: 30px;
            height: 30px;
            margin-top: -15px;
            left: -35px;
            width: rem(30px);
            height: rem(30px);
            margin-top: rem(-15px);
            left: rem(-35px);
        }

        &.observe {
            &::after {
                right: 0;
            }

            &::before {
                left: 0;
            }

            &.in-view {
                &::after {
                    right: -32px;
                    right: rem(-32px);
                }

                &::before {
                    left: -35px;
                    left: rem(-35px);
                } 
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .medallion-fisheye .medallion {
        width: rem(200px);
        margin-top: rem(100px);
        
        &-image {
            transition: all .3s ease-in-out;
            transform: translateX(-50%);
            margin-left: 50%;
        }

        &-title, &-caption {
            display: none;
        }
    }

    .medallion-zoom {
        width: rem(400px) !important;

        .medallion-image {
            width: rem(400px);
            height: rem(400px);
            margin-top: rem(-100px);
        }

        .medallion-title, .medallion-caption {
            max-width: none;
            display: block;
        }

        .medallion-title {
            font-size: rem(36px);
            margin-top: rem(30px);

            &::after, span::after, span::before {
                display: none;
            }
        }

        .medallion-caption {
            font-size: rem(18px);
            margin-top: rem(8px);
            width: rem(830px);
            transform: translateX(-50%);
            margin-left: 50%;

            a {
                color: inherit;
                font-family: $font-family-extrabold;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@include media-breakpoint-down(xl) {
    .medallion-wrapper {
        .swiper-wrapper {
            flex-wrap: wrap;
            gap: rem(30px);
            justify-content: center;
            transform: translateX(0) !important;
        }

        .medallion {
            width: rem(200px) !important;
            margin: 0 !important;

            &-image {
                box-shadow: 0 rem(3px) rem(7px) rgba(0, 0, 0, .2);
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .medallion-title, .medallion-caption {
        max-width: none;
    }

    .medallion-fisheye .medallion {
        &:nth-child(2) {
            order: -1;
        }

        &:nth-child(3) {
            order: -2;
        }
    }
}