.menu {
    padding: 0;
}

.menu-btn {
    position: relative;
    z-index: 1001;
    text-transform: uppercase;
    font-family: 'RubrikEdgeNew-Medium';
    text-decoration: none;
    //font-size: rem(15px);
    color: $blue-menu;
    display: flex;
    align-items: center;
    padding: 0;

    &-text {
        position: relative;
        top: 1px;
        font-style: normal;
    }

    &-close {
        visibility: hidden;
        overflow: hidden;
        width: 0;
        height: 0;
        position: absolute;

        &::after, &::before {
            content: "";
            width: 40px;
            height: 2px;
            background: $grey-light;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: transform .3s ease-in-out, opacity .3s ease-in-out;
            transition-delay: .3s;
        }

        &::after {
            transform: rotate(45deg) translate(-35px, 14px);
        }

        &::before {
            transform: rotate(-45deg) translate(28px, 6px);
            
        }
    }

    &-group {
        position: absolute;
        display: flex;
        align-items: center;
    }
}

.menu-btn-icon {
    width: 32px;
    height: 32px;
    fill: $blue-menu;
}

.menu-left .menu-btn-icon {
    margin-right: 8px;
}

.menu-right {
    .menu-btn-close {
        right: 0;
    }

    .menu-btn-group {
        flex-direction: row-reverse;
        right: 0;
    }

    .menu-btn-icon {
        margin-left: 8px;
    }
}

.main-submenu {
    background-image: url('../images/diamonds-bg.svg'),linear-gradient($blue-normal, $blue-medium);
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    border: 0;
    overflow-y: auto;

    &.dropdown-menu.show {
        opacity: 1;
        transform: translateY(0);
    }

    &-list {
        padding-top: 155px;

        .list-group-item {
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;
            border-color: rgba(207, 207, 206, .2);

            // First level
            .main-submenu-list-link {
                padding: 0;
                color: $grey-light;
                font-family: 'RubrikEdgeNew-Medium';
                font-size: rem(18px);
                text-decoration: none;
                display: inline-block;
                transition: transform .2s ease-in-out;

                &:active, &:hover, &:focus {
                    background-color: transparent;
                }

                &:hover {
                    transform: translateX(2px);
                }

                &.main-submenu-list-dropdown-toggler:hover::after {
                    transform: translateX(-2px);
                }
            }

            &.has-submenu {
                li:first-child {
                    margin-top: 8px;
                    border-top: 1px solid rgba(207, 207, 206, .2);
                }

                li:last-child {
                    padding-bottom: 0;
                }

                // First level that has submenu
                > .main-submenu-list-link {
                    display: block !important;
                    position: relative;

                    &::after {
                        content: "-";
                        position: absolute;
                        right: 0;
                        top: 0;
                        transition: transform .2s ease-in-out;
                    }

                    &.collapsed::after {
                        content: "+";
                    }
                }
            }
        }

        > .list-group-item:last-child {
            border-bottom: 1px solid rgba(207, 207, 206, .2);
        }
    }

    &-second-level {
        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, transparent, rgba(255,255,255, .1) 45%, rgba(255,255,255, .1) 50%, transparent);
            position: absolute;
            left: 0;
            top: 8px;
        }

        .list-group-item {
            position: relative;
            z-index: 1;

            // Second level
            .main-submenu-list-link {
                position: relative;
                padding-left: 15px;
                color: $grey-medium;

                &::before {
                    content: ">";
                    position: absolute;
                    left: 0;
                    top: 4px;
                    font-size: 12px;
                }
            }
        }
    }

    .search-wrapper {
        display: none;
        padding-top: 80px;
    }
}

.logo {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 95px;
    background-color: $blue-logo;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    transition: background-color .3s ease, box-shadow .3s ease, transform .3s ease;

    &-icon {
        width: 102px;
        fill: #fff;
    }
}

.nav-active {
    overflow: hidden;

    .menu {
        color: #fff;

        a, .menu-btn {
            color: #fff;
        }

        .menu-btn-icon {
            fill: $yellow;
        }

        .logo {
            background-color: transparent;
            box-shadow: none;
            transform: scale(.9);
        }

        &-btn-active {
            .menu-btn-group {
                visibility: hidden;
                opacity: 0;
                width: 0;
                height: 0;
                overflow: hidden;
            }

            .menu-btn-close {
                visibility: visible;
                width: 30px;
                height: 30px;
    
                &::after {
                    transform: rotate(45deg) translate(6px, 14px);
                    opacity: 1;
                }
    
                &::before {
                    transform: rotate(-45deg) translate(-14px, 6px);
                    opacity: 1;
                }
            }
        }

        
    }
}

@media (max-width: 899px) {
    .main-submenu {
        background-size: cover;
    }
}

@media (max-width: 640px) {
    .menu-btn-text {
        display: none;
    }
}