.search-toggler {
    padding: 0;
    text-decoration: none;
    margin-top: 20px;

    &-icon {
        width: 17px;
        height: 17px;
        fill: $blue-light;
        margin-right: 5px;
    }

    &-text {
        font-size: rem(18px);
        font-family: 'RubrikEdgeNew-Bold';
        color: $blue-light;
        text-transform: uppercase;
        position: relative;
        top: 1px;
    }

    &:hover {
        .search-toggler-text {
            text-decoration: underline;
        }
    }
}