@keyframes activeMenuBG {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #1a2247;
  }
}

@keyframes stickyMenuBG {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: $grey-dark-3;
  }
}

@keyframes activeMenuXEffectAfter {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(rem(-35px), rem(14px));
  }
  50% {
    opacity: 1;
    transform: rotate(45deg) translate(rem(6px), rem(14px));
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(rem(46px), rem(14px));
  }
}

@keyframes activeMenuXEffectBefore {
  0% {
    opacity: 0;
    transform: rotate(-45deg) translate(rem(28px), rem(6px));
  }
  50% {
    opacity: 1;
    transform: rotate(-45deg) translate(rem(-14px), rem(6px));
  }
  100% {
    opacity: 0;
    transform: rotate(-45deg) translate(rem(-54px), rem(6px));
  }
}