body {
    color: $grey-dark-2;
}

.container-narrow {
    @include make-container();

    @media (min-width: rem(900px)) {
        max-width: rem(874px); 
    }

    @media (max-width: rem(899px)) {
        padding-left: rem(20px);
        padding-right: rem(20px);
    }
}

.container-1000 {
    @include make-container();

    @media (min-width: rem(1025px)) {
        max-width: rem(1024px); 
    }
}

.container-medium {
    @include make-container();

    @media (min-width: rem(1251px)) {
        max-width: rem(1250px); 
    }
}

.container-medium-2 {
    @include make-container();

    @media (min-width: rem(1375px)) {
        max-width: rem(1374px); 
    }
}

.container-medium-large {
    @include make-container();

    @media (min-width: rem(1495px)) {
        max-width: rem(1494px); 
    }
}

.container-large-custom {
    @include make-container();

    @media (min-width: rem(1667px)) {
        max-width: rem(1666px); 
    }
}

.container-xxxl {
    @include make-container();

    @media (min-width: rem(1625px)) {
        max-width: rem(1624px); 
    }
}

.main {
    background-image: url('../images/diamonds-bg.svg');
    background-position: center rem(1000px);
    background-repeat: no-repeat;

    &.main-bg-short {
        background-position: center rem(345px);
    }

    &.home {
        background-position: center rem(600px);

        @include media-breakpoint-down(md) {
            background-position: center rem(310px);
        }
    }

    @include media-breakpoint-down(xl) {
        background-size: rem(1920px) rem(1040px);
    }
}

.component-block {
    margin-top: rem(130px);

    &-offset {
        margin-top: rem(-100px);

        .cards-grid {
            margin-top: 0;
        }
    }
}

.component-skew {
    background-image: linear-gradient($blue-violet, $blue-medium);
    transform: skewY(-3deg);
    color: #fff;
    z-index: 1;
    position: relative;

    &-inner {
        background-image: url('../images/diamonds-bg.svg');
        background-position: center top;
        background-repeat: no-repeat;
        padding-top: rem(100px);
        padding-bottom: rem(160px);
        overflow: hidden;

        @media (max-width: rem(2219px)) {
            &.component-skew-inner-tall {
                background-image: url('../images/diamonds-bg.svg'), url('../images/diamonds-bg.svg');
                background-position: center top, center bottom;
                background-repeat: no-repeat, no-repeat;
            }
        }

        @media (min-width: rem(2220px)) {
            background-image: url('../images/diamonds-bg.svg');
            background-position: center top;
            background-repeat: no-repeat;
        }

        @include media-breakpoint-down(xl) {
            background-size: rem(1920px) rem(1040px);
        }

        @include media-breakpoint-down(md) {
            padding-top: rem(80px);
        }
    }

    > * {
        transform: skewY(3deg);
    }

    &.component-block {
        margin-top: rem(160px);
    }

    .component-block:first-child {
        margin-top: 0;
    }

    .main-title, .second-title, .subtitle-text {
        color: #fff;
    }
}

.component-bubbles {
    background-image: url('../images/bubbles.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: rem(760px) rem(706px);
}

.bubbles-padding-increase {
    padding-top: rem(180px);

    &.component-block {
        margin-top: 0;
    }
}

.component-stacks {
    background-image: url('../images/stacks.png');
    background-position: center rem(49px);
    background-repeat: no-repeat;
    background-size: rem(1180px) rem(380px);

    @include media-breakpoint-down(lg) {
        background-image: none;
    }
}

.yellow-text {
    color: $yellow;
}

.certifications {
    img {
        box-shadow: 0 rem(3px) rem(7px) rgba(0, 0, 0, .2);
        margin-top: rem(7px);
        margin-bottom: rem(10px);
        border: rem(1px) solid $yellow;
        

        &[data-bs-toggle="modal"] {
            cursor: pointer;
        }
    }
}

.horizontal-stripe {
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: rem(50px);
        background-color: $yellow;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: rem(-25px);

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
}

.grey-header-cut {
    background-image: url(../images/diamonds-bg-white.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-color: $grey-medium-3;
    background-size: cover;
    padding-bottom: rem(100px);

    @include media-breakpoint-down(xl) {
        background-size: rem(1920px) rem(740px);
    }
}

.grey-header-gradient {
    background-image: url(../images/diamonds-bg-white.svg), linear-gradient($grey-medium-3, $body-bg 30%);
    background-position: center top;
    background-repeat: no-repeat;

    @media (min-width: rem(2220px)) {
        background-size: 100% rem(1000px), auto;
    }

    @include media-breakpoint-down(xl) {
        background-size: rem(1920px) rem(740px), auto;
    }
}

.course-cert-authors {
    display: flex;
    gap: rem(85px);
    margin-top: rem(80px);
    max-width: 66%;
}

@include media-breakpoint-down(xl) {
    .component-block {
        margin-top: rem(100px);

        &.component-skew {
            margin-top: rem(130px);
        }

        &-offset {
            margin-top: rem(-100px);
        }
    }

    .component-bubbles {
        background-size: rem(560px) rem(506px);
    }

    .bubbles-padding-increase {
        padding-top: rem(100px);
    }

    .certifications {
        .swiper-wrapper {
            flex-wrap: wrap;
            gap: rem(15px);
            justify-content: center;
            transform: translateX(0) !important;
        }

        .swiper-slide {
            width: auto !important;
        }
    }
}

@include media-breakpoint-down(lg) {
    .block-ribbon-mobile {
        margin-top: rem(130px);
    }
}

@include media-breakpoint-down(md) {
    .component-block {
        margin-top: rem(80px);

        &-offset {
            margin-top: rem(-80px);
        }

        &.component-skew {
            margin-top: rem(90px);
        }

        &.block-ribbon-mobile {
            margin-top: rem(130px);
        }
    }

    .grey-header-cut {
        padding-bottom: rem(80px);
    }
}