body {
    color: $grey-dark-2;
}

.container-narrow {
    @include make-container();

    @media (min-width: rem(900px)) {
        max-width: rem(874px); 
    }

    @media (max-width: rem(899px)) {
        padding-left: rem(20px);
        padding-right: rem(20px);
    }
}

.container-medium {
    @include make-container();

    @media (min-width: rem(1251px)) {
        max-width: rem(1250px); 
    }
}

.container-medium-2 {
    @include make-container();

    @media (min-width: rem(1375px)) {
        max-width: rem(1374px); 
    }
}

.container-medium-large {
    @include make-container();

    @media (min-width: rem(1495px)) {
        max-width: rem(1494px); 
    }
}

.container-large-custom {
    @include make-container();

    @media (min-width: rem(1667px)) {
        max-width: rem(1666px); 
    }
}

.container-xxxl {
    @include make-container();

    @media (min-width: rem(1625px)) {
        max-width: rem(1624px); 
    }
}

.main {
    background-image: url('../images/diamonds-bg.svg');
    background-position: center rem(945px);
    background-repeat: no-repeat;

    &.home {
        background-position: center rem(600px);

        @include media-breakpoint-down(md) {
            background-position: center rem(310px);
        }
    }

    @include media-breakpoint-down(xl) {
        background-size: rem(1920px) rem(1040px);
    }
}

.component-block {
    margin-top: rem(130px);
}

.component-skew {
    background-image: linear-gradient($blue-medium-3, $blue-medium);
    transform: skewY(-3deg);
    color: #fff;

    &-inner {
        background-image: url('../images/diamonds-bg.svg'), url('../images/diamonds-bg.svg');
        background-position: center top, center bottom;
        background-repeat: no-repeat, no-repeat;
        padding-top: rem(100px);
        padding-bottom: rem(160px);
        overflow: hidden;

        @media (min-width: rem(2220px)) {
            background-image: url('../images/diamonds-bg.svg');
            background-position: center top;
            background-repeat: no-repeat;
        }

        @include media-breakpoint-down(xl) {
            background-size: rem(1920px) rem(1040px);
        }

        @include media-breakpoint-down(md) {
            padding-top: rem(80px);
        }
    }

    > * {
        transform: skewY(3deg);
    }

    &.component-block {
        margin-top: rem(160px);
    }

    .component-block:first-child {
        margin-top: 0;
    }

    .main-title, .second-title, .subtitle-text {
        color: #fff;
    }
}

.component-bubbles {
    //background-image: url('../images/bubbles.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: rem(800px) rem(746px);
}

.yellow-text {
    color: $yellow;
}

@include media-breakpoint-down(xl) {
    .component-block {
        margin-top: rem(100px);

        &.component-skew {
            margin-top: rem(130px);
        }
    }
}

@include media-breakpoint-down(md) {
    .component-block {
        margin-top: rem(80px);

        &.component-skew {
            margin-top: rem(90px);
        }
    }
}